
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8d8383;
    color: #1A1A1A;
    text-align: center;
}

.header {
    background-color: #0F0F0F;
    padding: 15px;
}
.logo {
    height: 60px;
}

.menu {
    background-color: #E0E0E0;
    padding: 12px;
}
.menu a {
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    font-weight: bold;
}

.menu a:hover {
    color: #E10600;
}

.banner h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

.banner p {
    margin-top: 10px;
    font-size: 18px;
}

.bienvenida {
    padding: 40px 20px;
}

.bienvenida h2 {
    margin-bottom: 15px;
}

.productos {
    background-color: #FFFFFF;
    padding: 40px 20px;
}

.productos h2 {
    margin-bottom: 30px;
}

.productos-contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.producto {
    background-color: #FAFAFA;
    border: 1px solid #B3B3B3;
    width: 220px;
    padding: 20px;
}

.producto h3 {
    margin-bottom: 10px;
}
.producto img {
    width: 100%;
    height: 150px;
    background-color: #DDD;
    margin-bottom: 10px;
}

.promo {
    background-color: #0F0F0F;
    color: white;
    padding: 40px 20px;
}

.promo h2 {
    margin-bottom: 10px;
}


.footer {
    background-color: #0F0F0F;
    color: white;
    padding: 15px;
    margin-top: 30px;
}